body {
  
    padding-left: 10%;
    padding-right: 10%;
    
    width: 500 px;
    margin: 10 auto;
    background-color: #acde91
  }
  
  h1 {
    font-size: 3em;
    font-family: Monospace, Monaco;
    color: #495e3d
  }
  
  #byline {
    font-size: 1em;
    font-family: Helvetica;
    margin-bottom: 20px;
    color: #495e3d
  }
  
  img {
    margin: auto;
    display: block;
    border: 2px solid #495e3d;
  
  }
  
  .cutline {
    font-size: .8em;
    color: #495e3d;
    margin-top: 10px;
    margin-left: 20px;
    
  }
  
  
  P {
    font-family: Helvetica;
    font-size: 1.1em;
    line-height: 1.1em;
    color: black;
    padding-bottom: 10px
  }
  
  #blockquote {
    font-size: 2.5em;
    font-family: Monospace, Monaco;
    color: #495e3d
  }
  
  #source-name {
    font-size: 1em
  }
  
  div {
    border: 1 px solid red;
  }
  
  #content {
    width: 50%;
    margin: auto;
  }
  
  @media (orientation: portrait) {
    #content {
      width: 100%
    }
  }