
body { 
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
    
    font-family: "bennet-display", sans-serif;
    font-weight: 400;
    font-style: normal;

    width: 500 px;
    margin: 10 auto;
    background-color: #ede9dd

}


/* _____________________________________________________________________________ */
/* FONTS */


h1 /* MASTHEAD */ {
    font-family: "amador", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 3em;
    color:black;
}

h2 /* HED */ {
    font-family: "nicholas", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5em;


}

h3 /* DEK */ {
    font-family: "nicholas", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;

}

h4 {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "source-serif-pro", serif;
    font-weight: 200;
    font-style: normal;
    
}


/* _____________________________________________________________________________ */
/* NAVIGATION -- ALL PAGES */

#nav_bar {
    display: flex;
    flex-direction: row;
    background-color: #ede9dd;
    padding-bottom: .5em;
    padding-top: 1em;

    }
    
#nav_bar a:hover {
    background-color: none;
    color: #763382;
    }
    
.nav_item {
    display: inline-block;
    margin: auto;
    align-content: center;

    }
          
.nav_item a{
    color:black;
    text-decoration: none;
    }    


.masthead a:link{
    text-decoration: none;
    color:black;
}
/* _____________________________________________________________________________ */
/* STORY: INDEX.HTML */

.chunk1 {
    display: flex;
    flex-direction: row;
}

#affordable {
    float:right;
    width: 250em;
    padding-left: 1em;
    padding-bottom: .5em;
    }


#expensive {
    float:left;
    width: 250em;
    padding-right: 1em;
    padding-bottom: .5em;
    }

#salary {
    float:right;
    width: 30em;
    padding-left: 1em;
    padding-bottom: .5em;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
}

#credit {
    font-size: 2em;
}

#pullquote {
    padding-bottom: 2em;
    padding-top: 1.5em;
}

#school {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

/* _____________________________________________________________________________ */
/* ABOUT: ABOUT.HTML */

.profile {
    float: left;
    width: 33.33%;

    padding-top: 1em;
}

.profile_row:after {

    content: "";
    display: table;
    clear: both;
}

/* _____________________________________________________________________________ */

@media (orientation: portrait) {
    #content {
         width: 100%
     }
   }
   
   
