
body { 
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    
    font-family: "bennet-display", sans-serif;
    font-weight: 400;
    font-style: normal;

    width: 500 px;
    margin: 10 auto;
    background-color: #ede9dd

}


/* _____________________________________________________________________________ */
/* FONTS */


h1 /* MASTHEAD */ {
    font-family: "amador", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 3em;
}

h2 {
    font-family: "neue haas grotesk", sans-serif;
    font-weight: 300;
    font-style: normal;
}

p {
    font-family: "neue haas grotesk", sans-serif;
    font-weight: 200;
}


/* _____________________________________________________________________________ */
/* NAVIGATION -- ALL PAGES */

#nav_bar {
    display: flex;
    flex-direction: row;
    background-color: #ede9dd;
    padding-bottom: .5em;
    padding-top: 1em;

    }
    
#nav_bar a:hover {
    background-color: none;
    color: #e5aea4;
    }
    
.nav_item {
    display: inline-block;
    margin: auto;
    align-content: center;

    font-family: "bennet-display-extra-condens", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.3em;

    }
          
.nav_item a{
    color:black;
    text-decoration: none;
    }    


.masthead a:link{
    text-decoration: none;
    color:black;
}
/* _____________________________________________________________________________ */
/* STORY: INDEX.HTML */

