#content {
    width: 60%;
    margin: auto;
}

#byline {
    font-family:'Courier New', Courier, monospace;
}

/* mobile view*/
@media (orientation: portrait) {
    #content {
        width: 100%
    }

}