#content {
    width: 60%;
    margin: auto;
}

body {
  
    padding-left: 10%;
    padding-right: 10%;
    
    width: 500 px;
    margin: 10 auto;
    background-color: #dcedf6
  }

#byline {
    font-size: 1.4em;
    font-family: Neue Haas Grotesk, sans-serif;
    color:#274a78
}

#subhed {
    font-size: 1.5em;
    font-family: Neue Haas Grotesk, sans-serif;
    padding-bottom: 15;
    color:#274a78
}

h1 {
    font-size: 3em;
    font-family: Neue Haas Grotesk, sans-serif;
    color: #274a78
  }

h2 {
    font-size: 2em;
    font-family: Neue Haas Grotesk, sans-serif;
    color: black
}

h3 {
    font-size: 1.3 em;
    font-family: Neue Haas Grotesk, sans-serif; 
    color: black
}

p {
    font-size: 1 em;
    font-family: Neue Haas Grotesk, sans-serif;
    color:black
}

/* mobile view*/
@media (orientation: portrait) {
    #content {
        width: 100%
    }

}