body { 
    padding-left: 10%;
    padding-right: 10%;
    
    font-family: Neue Haas Grotesk, sans-serif;
    width: 500 px;
    margin: 10 auto;
    background-color: #dcedf6
}

h2 {
    text-align: left;
}











#nav_bar2 {
    text-align: right;
}

#nav_bar3 {
    text-align: right;
}

.nav_item {
    display: inline-block;
    margin: auto;
    align-content: center;
      }
      
.nav_item a{
    color:black;
    text-decoration: none;
}    