body { 
    padding-left: 10%;
    padding-right: 10%;
    
    font-family: "bennet-display", sans-serif;
    font-weight: 400;
    font-style: normal;

    width: 500 px;
    margin: 10 auto;
    background-color: #ede9dd

}

h2 {
    font-family: "bennet-display-extra-condens", sans-serif;
    font-weight: 300;
    font-style: italic;
}

p {
    font-family: "neue haas grotesk", sans-serif;
    font-weight: 200;
}

/* this is for making specific images center 
(like in my portfolio box sections) */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.credit {
    font-family: "neue haas grotesk", sans-serif;
    font-weight: 200;
    font-size: .8em;
    text-align: right;
    color:#817109;
    padding-bottom: 1.5em;
}

/* _____________________________________________________________________________ */
/* ALL PAGES */


#nav_bar {
    display: flex;
    flex-direction: row;
    background-color: #ede9dd;
    padding-bottom: 1.5em;
    padding-top: 1em;

    }

#nav_bar a:hover {
    background-color: none;
    color: #e5aea4;
      }

.nav_item {
    display: inline-block;
    margin: auto;
    align-content: center;

    font-family: "bennet-display-extra-condens", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.3em;

      }
      
.nav_item a{
    color:black;
    text-decoration: none;
}    

/* _____________________________________________________________________________ */
/* HOME */

#michelle {
    font-size: 4em;
    font-family: Neue Haas Grotesk, sans-serif;

    padding-bottom: 15;
    color:#1a375d;
    background-color: none;
    text-align: center;
}

#insta {
    size: 20%;
}

/* _____________________________________________________________________________ */

/* PORTFOLIO */

.box {
    
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-bottom: 0.5em;

    background-color:  #f0d8d0;
    border: .5px solid #9d7162;
    border-radius: 1.2em;
    width: 40%;

    line-height: .3;
    
  }

#boxes {
    display: flex;
    flex-direction: row;
    background-color: none;
    justify-content: space-evenly;

    padding-bottom: 2em;

    }

#element {
    flex-shrink:1
}

#top {
    display: flex;
    flex-direction: row;
}

.port_nav {
    padding: 0.1 em;
    background-color: aliceblue;
    border: 1 px solid black;
}

#port_sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: .5em .4em;

}


#top{
    padding: 2em;
}

#port_sections button {
    font-family: "bennet-display-extra-condens", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1em;
    width: 100%; /* I wanted all buttons to be the same size */

    background-color:  #f0d8d0;
    border: 1px;
    border-color: black; 
    color: rgb(0, 0, 0);

    padding: 0.5em;
    border-radius: .7em;

}

#port_sections button:hover {
    background-color: antiquewhite;
}


/* _____________________________________________________________________________ */
/* PORT SECTIONS */

#welcome {
    font-family: norman-variable, sans-serif;
    font-variation-settings: "wght" 400;
    color: #e5aea4;

    font-size: 2em;
}

#port_hed {
    font-family: norman-variable, sans-serif;
    font-variation-settings: "wght" 400;
    color: #e5aea4;
    font-size: 3em;

    text-align: center;

    padding-top: 1em;
    padding-bottom: .4em;
    padding-left: .8em;
}

/* _____________________________________________________________________________ */
/* INFO */

#alterego {
   
    text-justify: center;
    text-align: center;

}

#alter {
    font-family: norman-variable, sans-serif;
    font-variation-settings: "wght" 400;
    font-size: 2em;
    color: #e5aea4;
}

/* _____________________________________________________________________________ */

@media (orientation: portrait) {
     #content {
         width: 100%
     }
    }

