body { 
    padding-left: 10%;
    padding-right: 10%;
    
    font-family: Neue Haas Grotesk, sans-serif;
    width: 500 px;
    margin: 10 auto;
    background-color: #dcedf6
}

h2 {
    font-family: Neue Haas Grotesk, sans-serif;
}

#michelle {
    font-size: 4em;
    font-family: Neue Haas Grotesk, sans-serif;
    padding-bottom: 15;
    color:#1a375d;
    background-color: bisque;
    text-align: center;
}

#nav_bar {
    display: flex;
    flex-direction: row;
    background-color: white;
    

    }

#nav_bar a:hover {
    background-color: none;
    color: red;
      }

.nav_item {
    display: inline-block;
    margin: auto;
    align-content: center;
      }
      
.nav_item a{
    color:black;
    text-decoration: none;
}    

.box {
    padding: 0.1em;
    background-color: none;
    border: 1px solid black;
  }

@media (orientation: portrait) {
     #content {
         width: 100%
     }
    }

