body { 
    padding-left: 10%;
    padding-right: 10%;
    
    font-family: "bennet-display", sans-serif;
    font-weight: 400;
    font-style: normal;

    width: 500 px;
    margin: 10 auto;
    background-color: #ede9dd

}

h2 {
    font-family: "bennet-display-extra-condens", sans-serif;
    font-weight: 300;
    font-style: italic;
}

p {
    font-family: "neue haas grotesk", sans-serif;
    font-weight: 200;
}

.hed3 {
    font-family: "bennet-display", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    color:#e49f9f;

    text-align: center;

}

a:link {
    color: Black;
}

/* this is for making specific images center 
(like in my portfolio box sections) */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.credit {
    font-family: "neue haas grotesk", sans-serif;
    font-weight: 200;
    font-size: .8em;
    text-align: right;
    color:#817109;
    padding-bottom: 1.5em;
}

/* _____________________________________________________________________________ */
/* ALL PAGES */


#nav_bar {
    display: flex;
    flex-direction: row;
    background-color: #ede9dd;
    padding-bottom: 1.5em;
    padding-top: 1em;

    }

#nav_bar a:hover {
    background-color: none;
    color: #e5aea4;
      }

.nav_item {
    display: inline-block;
    margin: auto;
    align-content: center;

    font-family: "bennet-display-extra-condens", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.3em;

      }
      
.nav_item a{
    color:black;
    text-decoration: none;
}    

/* _____________________________________________________________________________ */
/* HOME */

#michelle {
    font-size: 4em;
    font-family: Neue Haas Grotesk, sans-serif;

    padding-bottom: 15;
    color:#1a375d;
    background-color: none;
    text-align: center;
}

#insta {
    size: 20%;
}

/* _____________________________________________________________________________ */

/* PORTFOLIO SECTIONS */

#port_hed {
    font-family: norman-variable, sans-serif;
    font-variation-settings: "wght" 400;
    color: #e5aea4;
    font-size: 3em;
 
 
    text-align: center;
 
 
    padding-top: 1em;
    padding-bottom: .4em;
    padding-left: .8em;
 }
 

.box {
    
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-bottom: 0.5em;

    background-color:  #f0d8d0;
    border: .5px solid #9d7162;
    border-radius: 1.2em;
    width: 40%;

    line-height: .3;
    
  }

#boxes {
    display: flex;
    flex-direction: row;
    background-color: none;
    justify-content: space-evenly;

    padding-bottom: 2em;

    }

#element {
    flex-shrink:1
}



/* _____________________________________________________________________________ */
/* PORTFOLIO */

#top {
    display: flex;
    flex-direction: row;
    
}

#top{
    padding: 2em;
    padding-top: 4em;
}

#name {
    padding-top: 3em;
}

#welcome {
    font-family: norman-variable, sans-serif;
    font-variation-settings: "wght" 400;
    color: #e5aea4;

    font-size: 2em;
}

#port_sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: .5em .4em;

}

#port_sections button {
    font-family: "bennet-display-extra-condens", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1em;
    width: 100%; /* I wanted all buttons to be the same size */

    background-color:  #f0d8d0;
    border: 1px;
    border-color: black; 
    color: rgb(0, 0, 0);

    padding: 0.5em;
    border-radius: .7em;

}

#port_sections button:hover {
    background-color: antiquewhite;
}


/* _____________________________________________________________________________ */
/* INFO */

#alterego {
   
    text-justify: center;
    text-align: center;

}

.hed2 {
    font-family: norman-variable, sans-serif;
    font-variation-settings: "wght" 400;
    font-size: 1.5em;
    color: #e5aea4;
}

#me_section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: .5em;
    
}

#about_me {
    padding-bottom: 2em;
}

#profile {
    padding-right: 1.5em;
}

/* adding a border to images 
--> apply this class to whichever images i want to have the same border */
.image_border {
    border: 2px dotted #e49f9f
}

#line1 {
    border: 2px solid #e49f9f;
    border-radius: 2px;
}


/* _____________________________________________________________________________ */
/* STORY -- EGG SHORTAGE */



#byline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#817109;
}

.hed {
    font-family: "neue haas grotesk", sans-serif;
    font-weight: 200;
    color:#5d530e;
}

.subhed {
    font-family: "neue haas grotesk", sans-serif;
    font-size: 1.3em;
    color:#5d530e;
}

#eggchart {
    float:right;
    width: 30em;
    padding-left: 2em;
    padding-bottom: 1em;
}

#methodology {
    padding-top: .5em;
    font-family: "neue haas grotesk", sans-serif;
    font-variation-settings: "wght" 400;
    font-size: 1.3em;
    color:#5d530e
}

#sources {
    padding-left: 1.3em;
    padding-right: 1.3em;
    padding-bottom: 1.3em;
    border: 2px solid #5d530e;
}


#source_hed {
    font-family: "neue haas grotesk", sans-serif;
    font-size: 1em;
    color:#5d530e;
}

/* _____________________________________________________________________________ */

@media (orientation: portrait) {
     #content {
         width: 100%
     }
    }

