body { 
    padding-left: 10%;
    padding-right: 10%;
    
    font-family: Neue Haas Grotesk, sans-serif;
    width: 500 px;
    margin: 10 auto;
    background-color: #F5F5F5

}

h2 {
    font-family: Neue Haas Grotesk, sans-serif;
}

/* _____________________________________________________________________________ */
/* ALL PAGES */


#nav_bar {
    display: flex;
    flex-direction: row;
    background-color: none;
    padding-bottom: 1em;

    /* sticky will make the navigation bar stay on top even while scrolling */
    position: sticky;
    top: 20px; 

    }

#nav_bar a:hover {
    background-color: none;
    color: #e5aea4;
      }

.nav_item {
    display: inline-block;
    margin: auto;
    align-content: center;
      }
      
.nav_item a{
    color:black;
    text-decoration: none;
}    

/* _____________________________________________________________________________ */
/* HOME */

#michelle {
    font-size: 4em;
    font-family: Neue Haas Grotesk, sans-serif;
    padding-bottom: 15;
    color:#1a375d;
    background-color: none;
    text-align: center;
}

#insta {
    size: 20%;
}

/* _____________________________________________________________________________ */

/* PORTFOLIO */

.box {
    
    padding: 0.1em;
    background-color: none;
    border: 1px solid black;
    width: 40%;
    
  }

#boxes {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-evenly;

    }

#top {
    display: flex;
    flex-direction: row;
}

.port_nav {
    padding: 0.1 em;
    background-color: aliceblue;
    border: 1 px solid black;
}

#port_sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .3em .6em;

}


#port_sections button {
    font-family: "Poppins", sans-serif;
    font-size: .8em;
    width: 100%; /* I wanted all buttons to be the same size */

    background-color: aquamarine;
    border-color: black; 
    color: rgb(0, 0, 0);

    padding: 0.5em;
    border-radius: .7em;

}

#port_sections button:hover {
    background-color: antiquewhite;
}

/* _____________________________________________________________________________ */
/* INFO */

#alterego {
    text-justify: center;

}


/* _____________________________________________________________________________ */

@media (orientation: portrait) {
     #content {
         width: 100%
     }
    }

