body { 
    padding-left: 10%;
    padding-right: 10%;
    
    font-family: Neue Haas Grotesk, sans-serif;
    width: 500 px;
    margin: 10 auto;
    background-color: #dcedf6
}

h2 {
    font-family: Neue Haas Grotesk, sans-serif;
}

/* _____________________________________________________________________________ */
/* ALL PAGES */


#nav_bar {
    display: flex;
    flex-direction: row;
    background-color: white;

    }

#nav_bar a:hover {
    background-color: none;
    color: red;
      }

.nav_item {
    display: inline-block;
    margin: auto;
    align-content: center;
      }
      
.nav_item a{
    color:black;
    text-decoration: none;
}    

/* _____________________________________________________________________________ */
/* HOME */

#michelle {
    font-size: 4em;
    font-family: Neue Haas Grotesk, sans-serif;
    padding-bottom: 15;
    color:#1a375d;
    background-color: bisque;
    text-align: center;
}

/* _____________________________________________________________________________ */

/* PORTFOLIO */

.box {
    
    padding: 0.1em;
    background-color: none;
    border: 1px solid black;
    
  }

  #boxes {
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-evenly;

    }

.port_nav {
    padding: 0.1 em;
    background-color: aliceblue;
}

#nav_bar2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* _____________________________________________________________________________ */

@media (orientation: portrait) {
     #content {
         width: 100%
     }
    }

